.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;
}

.navbarVisible {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-column-gap: 1rem;
	align-items: center;
	height: 4rem;
	padding: 1rem;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 2.1px 18.7px rgba(0, 0, 0, 0.014),
		0 5.9px 34.2px rgba(0, 0, 0, 0.024),
		0 14.2px 49.5px rgba(0, 0, 0, 0.027), 0 47px 114px rgba(0, 0, 0, 0.03);
}

.navbarLinkHome {
	text-decoration: none;
	grid-column: 1/2;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0.5rem;
	grid-auto-columns: min-content;
}

.navbarBrandIcon {
	height: 1.5rem;
	width: 1.5rem;
	background-color: hsla(0, 0%, 9%, 1);
	content: " ";
	border-radius: 50%;
}

.navbarBrandHeadline {
	color: hsla(0, 0%, 9%, 1);
	font-size: 1rem;
}

.navbarLinkCurrent {
	grid-column: 2/3;
	width: max-content;
	justify-self: end;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0.5rem;
	align-items: center;
	padding: 0.25rem 0.5rem 0.25rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid transparent;
}

.navbarLinkCurrent.active {
	border: 1px solid lightgray;
}

.navbarLinkLocationText {
	font-weight: bold;
}

.navbarExtended {
	display: grid;
	padding: 0.5rem 1rem;
	width: 100%;
	height: calc(100vh - 4rem);
	background-color: hsla(0, 0%, 0%, 0.5);
}

.navbarLinks {
	background-color: grey;
	width: 100%;
	justify-self: end;
	border-radius: 0.5rem;
	border: 1px solid darkgrey;
	height: min-content;
}

.navbarLink {
	text-decoration: none;
	padding: 1rem 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0.5rem;
	justify-content: start;
	border-bottom: 1px solid darkgrey;
}

.selected {
	color: salmon;
	font-weight: bold;
}

.navbarLink:last-of-type {
	border-bottom: 1px solid transparent;
}

.navbarIcon {
	height: 1.5rem;
	width: 1.5rem;
	background-color: hsla(0, 0%, 9%, 1);
	content: " ";
	border-radius: 50%;
}

.hamburger {
	width: 2rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 0.2s ease-out;
	padding: 0.5rem;
}

.hamburger.open {
	transform: rotate(-45deg);
}

.hamburgerTop {
	background-color: white;
	border-radius: 0.3rem;
	width: 100%;
	height: 0.2rem;
	width: 50%;
	transition: transform 0.2s cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: right;
}

.open .hamburgerTop {
	transform: rotate(-90deg) translateX(0.15rem);
}

.hamburgerMid {
	background-color: white;
	border-radius: 0.2rem;
	width: 100%;
	height: 0.2rem;
}

.hamburgerBottom {
	background-color: white;
	border-radius: 0.3rem;
	width: 100%;
	height: 0.2rem;
	width: 50%;
	align-self: flex-end;
	transition: transform 0.2s cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: left;
}

.open .hamburgerBottom {
	transform: rotate(-90deg) translateX(-0.15rem);
}
